p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #000000;
  --primary-shade-color: #212121;
  --primary-shade-two-color: #2f303a;
  --secondary-color: #ffffff;
  --secondary-three-color: #f5f4fa;
  --secondary-four-color: #757575;
  --accent-link-color: #2196f3;
  --secondary-mail-tel-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-shade-color);
  background-color: var(--secondary-color);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Deleting point's from list  */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Deleting underlining links */
.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*-------- Index - HEADER -------------- */
.heading {
  border-bottom: 1px solid #ececec;
 }

.header-container {
  display: flex;
  align-items: center;
 
}
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  }

.white-logo {
  color: var(--secondary-color);
}

.logo-accent {
  color: var(--accent-link-color);
}

.navigation {
  margin-left: 93px;
}
.navigation .link.current {
  color: var(--accent-link-color);
}

.nav-list {
  display: flex;
}


.nav-item:not(:last-child) {
  margin-right: 50px;
}

.contact-list {
  display: flex;
  margin-left: auto;
}
.nav-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-shade-color);
  padding: 32px 0;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-link-color);
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}
.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-four-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-link-color);
}

/*--- Index - MAIN -------- */
.main-section {
  background-color: var(--primary-shade-two-color);
  padding: 200px 0;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.primary-btn {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  background-color: var(--accent-link-color);
  min-width: 200px;
  padding: 10px 32px 10px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
}

/*   Section Features  "Особенности - Внимание к деталям" ---- */
.section {
  padding: 94px 0;
}
.feature-section {
  color: var(--sec-other-bkground);
  padding-bottom: 47px;
}
/* Для скрытого h2 после  <h1> "Эффективные решения для вашего бизнеса" */
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-flex {
  display: flex;
  /* align-items: center;
  justify-content: center; */
 }


.features-item:not(:last-child) {
  margin-right: 30px;
}
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-shade-color);
  max-width: 270px;
  margin-bottom: 10px;
}

.features-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-four-color);
  max-width: 270px;
}

/*   Section Work  "Чем мы занимаемся" ---- */ 
.work-section {  
  padding-top: 47px;
}

.img-block {
  display: block;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-shade-color);
  margin-bottom: 50px;
}

/*   Section Team  "Наша команда" ---- */
.team-section {
  background-color: var(--secondary-three-color);
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-img {
  display: block;
 }

.team-person {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-shade-color);
  margin-bottom: 10px;

}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-four-color);
}

/* ------ FOOTER ------------ */
.footer {
  background-color: var(--primary-shade-two-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.ftr-address {
  margin-top: 20px;
  }

.address-item:not(:last-child) {
  margin-bottom: 9px;
} 

.map {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.secondary-contact-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-mail-tel-color);
}
.secondary-contact-link:hover,
.secondary-contact-link:focus {
  color: var(--accent-link-color);
}

/* -------- PORTFOLIO.html ----------- */

.filter-list {
  margin-bottom: 50px;
}

.filter-list-flex {
  display: flex;
  justify-content: center; 
 }

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.secondary-btn {
  display: block;
  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--first-btn-text-color);
  background-color: var(--secondary-three-color);
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;

}

.secondary-btn:hover,
.secondary-btn:focus {
  color: var(--secondary-color);
  background-color: var(--accent-link-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portfolio-item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-top: 30px;
  margin-left: 30px;
  }
/* .portfolio-item:nth-child(3n+3) {
  margin-right: 0; 
}
.portfolio-item:nth-last-child(-n+3) {
  margin-bottom: 0; 
} */

.portfolio-link {
  margin-bottom: 20px;
}

.cards-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
} 

.portfolio-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-shade-color);
  margin-bottom: 4px;
}

.portfolio-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-four-color);
}


